<section class="Book">
  <img src="/images/{{Book.filename}}" alt="{{Book.description}}">
  <div class="Book-details">
    <h3>{{Book.title}}</h3>
    <p>By: {{Book.artist}}</p>
    <p>Exhibition open until: {{ format_date Book.exhibition_date}}</p>
  </div>
</section>
